body
{
    background: lightblue;
}

h1
{
	text-align:center;
    font-size: 3vw;

    margin: 3vw 0 0 0 ;

}

#ptable
{
    width: 100%;
}

p
{
    font-size: 1.9vw;

    margin: 1vw;
    padding: 2vw;

    text-align: justify;
}
