body
{
    background: lightblue;
    font-family: "Times New Roman", serif;
    box-sizing: border-box;
}

h1
{
	text-align:center;
    font-size: 3vw;

    // margin: 3vw 0 0 0 ;

}

#ptable
{
    width: 100%;
    padding: 0 1vw 0 1vw;
}

p
{
    font-size: 1.9vw;

    // margin: 1vw;
    padding: 0 2vw 0 1vw;

    text-align: justify;
}
